@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button, .date-input {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

button:active, .date-input:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.devider {
  width: 2px;
  height: 16px;
  background-color: #3d444d;
  margin: 0px 8px;
}

.active-dot {
  width: 8px;
  height: 8px;
  background-color: #e34c26;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 10px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  background-color: black;
}

.timeline-head {
  max-width: 600px;
  width: 100%;
  max-height: 300;
  min-height: 300;
  height: 100%;
  background-color: black;
  border: 1px solid #3d444d;
  border-radius: 18px;
}

.journal-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.journal-input_head {
  padding: 14px;
  width: 100%;
  background-color: #101215;
  border-radius: 18px 18px 0px 0px;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journal-input_head-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal-input-title {
  color: white;
  font-weight: 600;
  margin-left: 8px;
}

.date-input {
  background-color: black;
  color: white;
  font-weight: 600;
  margin-left: 8px;
  height: 28px;
  width: 136px;
  outline: none;
  border: none;
  padding: 0px 8px;
}

.form-bottom-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
}

.journal-submit {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  width: 100px;
  font-size: 16px;
  font-weight: 600;
}

.journal-submit > svg {
  margin-left: 4px;
}

#journal-text {
  width: 100% !important;
  resize: none;
  padding: 0px 20px;
  background-color: black;
  outline: none;
  border: none;
  color: #fff;
}

.wordcount-limit-display {
  color: #888888;
  font-size: 16px;
  padding: 0px 6px;
}

.timeline-wrapper {
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.timeline-line-display {
  padding-left: 14px;
}

.timeline-line {
  width: 4px;
  min-height: 20px;
  background-color: #e34c26;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0px 0px 4px 4px;
  height: 100%;
}

.timeline-entrys {
  width: 100%;
  padding: 14px;
  padding-right: 0px;
  padding-top: 0px;
  height: 100%;
}

.timeline-entry-wrapper {
  background-color: black;
  border: 1px solid #3d444d;
  border-radius: 18px;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* default, but important */
  overflow: hidden;
}

.entry-bar {
  width: 0px;
  min-width: 0px;
  background-color: #fff;
  display: block;
}

.entry-contence {
  color: white;
}

.entry-date {
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 2px;
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0px;
}

.entry-date > p {
  font-weight: 600;
}

.entry-date > .active-dot {
  margin-left: 0px;
  margin-right: 12px;
}

.entry-text {
  font-size: 16px;
  line-height: 2;
  white-space: pre-wrap;
  padding: 24px;
  padding-right: 12px;
  color: #888888;
}

.timeline-footer {
  max-width: 600px;
  width: 100%;
  padding: 14px;
  text-align: center;
}

.timeline-footer_text {
  color: #888888;
  font-size: 14px;
}

.emotion-rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.emotion-rating-button {
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.emotion-rating-button:hover {
  background-color: #292929;
}

.emotion-rating-button--active {
  background-color: #292929;
}

.left-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring {
  --size: 26px;
  --thickness: 4px;
  --color: #e34c26;
  --bg: #292929;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-right: 6px;
  background: conic-gradient(var(--color) calc(var(--percent) * 1%), var(--bg) 0);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #111;
}

/* inner cutout */
.ring::before {
  content: "";
  width: calc(100% - var(--thickness) * 2);
  height: calc(100% - var(--thickness) * 2);
  background: black;
  border-radius: 50%;
}

.emotion-icon {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */